# Ignore directories
Include/
Scripts/
Lib/
Library/
__pycache__/
build/
dist/
Tesseract-OCR/
pyvenv.cfg
test.png
translatorApp.py
# If these directories exist under different paths, ignore them globally
**/Include/
**/Scripts/
**/Lib/
**/Library/
**/__pycache__/
**/build/